@media (min-width: 320px) and (max-width: 480px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 507px) and (max-width: 768px) {
  .visible-sm-inline {
    display: inline !important;
  }
  #bar-chart, #line-chart{ 
       min-height:300px;
       max-height: 300px !important;
   }
}
@media (min-width: 768px) and (max-width: 1024px) {
    
    /*#bar-chart{
        height: 320px;
    }*/
    #bar-chart ,#line-chart{
        min-height: 480px;
    }

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .visible-sm-inline-block {
    display: inline-block !important;
    }
}

@media (min-width: 1024px) {
  #bar-chart ,#line-chart{
        min-height: 600px;
    } 
}

span.label-header{
    font-size:24px;
    color: #414141;
    line-height: 38px;
}

#report{
    position: relative;
    width: 100%;
    height: 60%;
}
#chart-bubble{
   min-width: 400px;
}

#chart-pie{
    display: none;
}
.drill-exception{
    font-weight: 600;
    text-anchor: middle;
    font-size: 16px;
    fill: #E87352;
}
.pie-subtitle{
    font-weight: 600;
    text-anchor: middle;
}
#chart-bubble, #chart-pie {
    background:#F5F5F5;;
    position: relative;
}
.xAxis, .yAxis{
    stroke: #000;
    fill : none;
}
.axis_label{
    text-anchor : middle;
    font-size : 10px;
    opacity : 1;
    stroke: transparent;
    fill: #414141;
}
.yAxis .tick text{
    text-anchor: end;
    font-size: 0.8em;
    opacity: 1;
    stroke: transparent;
    fill: #414141;
}
.node{
    fill: rgb(0, 128, 0);
    stroke: rgb(214, 233, 198);
    stroke-width: 0px;
    fill-opacity: 0.7;
}

.node .circle{
    cursor: pointer;
}

.label-info{
    background-color: transparent;
    color: #727272;
    font-weight: 500;
    margin-left: 2px;
    padding: 5px 0;
}
.label-info strong{
    font-weight: 600;
}

.chart-container{
    padding-top: 20px; 
    padding-right: 20px;
    background:#F5F5F5;
}
#bar-chart ,#line-chart{
    background:#F5F5F5;
}
#line-chart{
    display: none;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(249, 249, 249, 0.85098);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
    display: block !important;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#drill-note{
    float: right;
    margin-right: 20px;
    color: #000;
}

#rollup {
    /*position: absolute;*/
    color: #0071bc;
    font-size:16px;
    font-weight: 500;
    padding: 15px 0 0;
    border: none;
    display: none;
}

#rollup span{
    width: 20px;
    cursor: pointer;
    padding: 4px 0;
    float: left;
}

button {
    background-color: transparent;
    border: none;
}

text.header{
    font-weight:600;
    font-size:16px;
}
/*Bar Chart Styles*/
.c3-chart rect.c3-event-rect{
    cursor:pointer;
}

.c3-chart-texts text.c3-text{
    fill:#727272!important;
}


/* Content Styles */

#content-info{
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 50px 0;
}
#content-info a{
    color: #0071bc;
}
#content-info h3{
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}
.content-info-landing{
    color: #414141;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 100px 0 50px 0px;
    padding: 0 20px;
}
.content-info-landing h2{
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}
.landing-icons {
    width: 250px;
    margin: 10px auto 40px auto;
}

.landing-icons img{
    width: 100%;
    display: block;
}


/* Footer Styles */

#footer{
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border-top: 1px solid #d5d5d5;
    margin-bottom: 10px;
    padding-top: 10px;
}
#footer strong{
   font-weight: 600;
}

@media (max-width: 767px) {

    span.label-header{
        font-size: 14px;
        padding: .2em .0em .3em;
    }

}