/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #eeeeee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-logo {
    width: 215px;
    margin: 10px auto 40px auto;
}

.sidebar-logo img{
    width: 100%;
    display: block;
}

.sidebar-nav {
    position: relative;
    width: 250px;
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    color: #96f4ff;
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #414141;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #414141;
    background: #dedede;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus{
    text-decoration: none;
    background: #dedede;
}

li.active{
    text-decoration: none;
    background: #dedede;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .title {
    color: #898989;
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/* Header and Menu Styles */

.nav {
    border-bottom: 1px solid #d5d5d5;
    padding-left: 0;
    padding-bottom: 20px;
}

#menu-toggle{
    color: #414141;
    background-color: #F5F5F5;
}


/* Responsive Styles */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}